@import 'vars';
@import 'fonts';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  overflow-x: hidden;
  position: relative;
  width: 100%;

  &.lock {
    overflow: hidden;
  }
}

body {
  text-transform: uppercase;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #000;
}

.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}